In [13]:
import pandas as pd
import matplotlib.pylab as plt

filename = 'date_result.csv'
outfile = 'out_plot_new.csv'

n_points = 9


df = pd.read_csv(filename)

df['sq_x_y'] = (df.x**2 + df.y**2)**0.5
df_1 = df.shift(1)  #数据向后移动一行，

data_test = []
for i in range(0, len(df_1), 9):
    df_temp_1 = df_1.sq_x_y[i:i+9]
#     print(df_temp_1)
    df_temp_2 = df_1.yaw[i:i+9]
#     print(df_temp_2)
    entry = list(df_temp_1) + list(df_temp_2)
    data_test.append(entry)
    
columns_name = ['p_'+str(i+1) for i in range(n_points)]+['a_'+str(i+1) for i in range(n_points)]

df_out = pd.DataFrame(data_test, columns = columns_name)

df_out.to_csv(outfile, index = False)

In [11]:
df_out

,p_1,p_2,p_3,p_4,p_5,p_6,p_7,p_8,p_9,a_1,a_2,a_3,a_4,a_5,a_6,a_7,a_8,a_9
0,NaN,0.200346,0.148108,0.184239,0.276462,0.427704,0.745116,0.503211,0.376695,NaN,-0.124182,0.089586,-0.075778,-0.140237,-0.120001,-0.101203,-0.086890,0.062644
1,0.243037,0.463452,0.102709,0.256634,0.203840,0.437538,0.722544,0.355916,0.436231,-0.102115,-0.098122,0.037462,-0.085161,-0.138424,-0.107787,-0.122899,0.033390,0.052314
2,0.175666,0.559629,0.168569,0.298104,0.292237,0.419657,0.711477,0.398067,0.342541,-0.116391,-0.078348,-0.126152,-0.090049,-0.134509,-0.119233,-0.117382,-0.134050,-0.087081
3,0.328676,0.464562,0.158670,0.282005,0.265338,0.431479,0.680580,0.506996,0.386231,-0.113936,-0.106362,0.040660,-0.115505,-0.114700,-0.128965,-0.092713,-0.142645,0.054126
4,0.144849,0.541873,0.218070,0.248900,0.262872,0.469155,0.700092,0.597419,0.293589,-0.125015,-0.072150,-0.195496,-0.088550,-0.122026,-0.089402,-0.116429,-0.126997,0.004797

In [27]:
list_1 = [1,2,3,4,5,6,7,8,9]
print(list_1)
list_2 = ['.', '*', '<', '^', '>']

# for i in range(len(df_out)):
#     plt.plot(list_1.T, df_out.loc[[i:i+1].T, [0:9]], '*')
# plt.xlabel('points')
# plt.ylabel('erro/m')
# plt.legend(loc = 'best')
# plt.title('points erro for 5 loops')
# plt.savefig('./point_test.jpg', dpi = 900, bbox_inches = 'tight')
# plt.show()

[1, 2, 3, 4, 5, 6, 7, 8, 9]